/* strat global */
*{
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--default-color);
}
html{
    scroll-behavior: smooth;
}
:root{
    --overly-color: rgba(0, 0, 0, .5);
    --default-color: #FFF;
    --main-color: rgba(255, 152, 0, 1);
    --default-transition: all .5s ease-in-out;
    --my-height: 100vh;
}
.container{
    margin: auto;
}
body{
    overflow-x: hidden;
}
img{
    width: 200px;
    height: 200px;
    display: block;
}
/* end global */
/* start media global */
@media ( max-width: 767px ){
    .container{
        width: 500;
        margin-left: 0;
    }
}
@media (min-width : 768px){
    .container{
        width: 780px;
    }
}
@media (min-width : 992px){
    .container{
        width: 1000px;
    }
}
@media (min-width : 1200px){
    .container{
        width: 1200px;
    }
}
/* end media global */

/* start mijn muziek */
article.mijn-muziek{
    background-color: gray;
    height: 100vh;
    overflow: hidden;
}
.mijn-muziek > div{
   display: flex;
}
.mijn-muziek section:first-child{
    width: 70%;
}
.mijn-muziek section:first-child h2{
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: normal;
}
.mijn-muziek section:first-child ol li{
    margin-bottom: 10px;
    width: fit-content;
}
.mijn-muziek section:first-child ol li:hover a{
    color: var(--main-color);
    transition: var(--default-transition);
    font-size: 17px;
}
.mijn-muziek section:last-child{
    width: 30%;
}
/* end mijn muziek */
/*star festuvals*/
article.festival{
    background-color: #888;
    overflow: hidden;
}
article.festival h2{
    text-transform: capitalize;
    color: var(--default-color);
}
article.festival ul{
    padding: 0;
    margin-left: 10px;
}
article.festival ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid var(--default-color);
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: capitalize;
    color: var(--default-color);
    transition: var(--default-transition);
}
article.festival ul li:hover{
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
article.festival ul li a{
    text-decoration: none;
    color: inherit;
}
article.festival section{
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: violet;
    margin-bottom: 10px;
    border: 2px solid var(--main-color);
    padding: 15px;
}
article.festival section h3{

}

/* end festivals */

/* start oefening 7 */
article.oefening7{
    background-color: #999;
    overflow: hidden;
}
article.oefening7 h3{
    width: fit-content;
    margin: 15px auto;
    color: #ffe14f;
    text-transform: capitalize;
    font-size: 20px;
}
article.oefening7 section {
    width: 70%;
    margin: auto;
    border: 1px solid #000;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--default-transition);
}

article.oefening7 section:hover{
    border: 1px solid var(--main-color)
}
article.oefening7 section audio{
    outline: none;
}

/* end oefening 7 */
.parent {
    width: 100vw;
    height: 100vh;
    background-color: lightseagreen;
}
.parent div{
   
}
.parent .one{
    width: 70%;
    background-color: lawngreen;
    display: inline-block;
    height: 100%;
}
.parent .two{
    width: 30%;
    background-color: lightcoral;
    display: inline-block;
    height: 100%;
}